@import url("https://fonts.googleapis.com/css2?family=Indie+Flower:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --color-flora-bg: #1b2316;
  --color-flora-surface: #111d16;
  --color-flora-soft: #18261c;
  /* --color-card: #262E22; */
  --color-flora-accent: #c8ff4f;
  --color-flora-accent-soft: #99cc3c;
  --color-flora-text: #ffffff;
  --color-flora-muted: #b3c0b3;
  --shadow-flora-card: 0 24px 60px rgba(0, 0, 0, 0.7);
  --font-indie: "Indie Flower", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* Card background */
.card-glass {
  border: 2px solid transparent;
  border-image-source: linear-gradient(
    147.93deg,
    rgba(255, 255, 255, 0.2) ,
    rgba(0, 0, 0, 0) 51.71%,
    rgba(255, 255, 255, 0.2)
  );
  /* border-image-slice: 1; */

  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  box-shadow: 0px 9px 18.4px rgba(0, 0, 0, 0.25);
}

.text-header {
  font-weight: 600;
  font-size: 55px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
}

.text-title {
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.75);
}

.text-description {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.75);
}


.swiper,
.swiper-wrapper,
.swiper-slide {
  overflow: visible !important;
}

/* Inactive dots — small white circles */
.o2-pagination .swiper-pagination-bullet {
  background: #ffffff !important;
  width: 6px !important;
  height: 6px !important;
  opacity: 0.5 !important; /* slight fade for inactive */
  border-radius: 999px !important;
  transition: all 0.3s ease !important;
}

/* Active dot — long white pill */
.o2-pagination .swiper-pagination-bullet-active {
  background: #ffffff !important;
  width: 26px !important; /* wider */
  height: 6px !important;
  opacity: 1 !important;
  border-radius: 999px !important;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-flora-bg);
    color: var(--color-flora-text);
    font-family: "Inter", sans-serif;
  }

  #root {
    min-height: 100vh;
  }
}
